logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.sublime*

# Dart
.buildlog
.pub/
build/
packages

# Files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

pubspec.lock
