* {
    padding: 0;
    margin: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
nav>ul {
    float: left;
}
nav>ul>li  {
    display: block;
    float: left;
}
nav>ul>li>a {
    text-decoration: none;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 7px;
    display: block;
    height: 30px;
    width: 120px;
    background-color: aqua;
    color: #333333;
}
nav>ul>li>a:hover {
    background-color: aquamarine;
}
#content>nav {
    margin-bottom: 40px;
}

