@(authorizationUrlScopes: String*)

@main("Welcom to insta-bot"){
    <p>
        <h3>Hello to our coursework</h3>

        <a href="@{authorizationUrlScopes.head + {
                val scopes = authorizationUrlScopes.tail
                val res = scopes.isEmpty match {
                    case true => ""
                    case false =>
                        val rScopes = new StringBuilder(s"&scope=${scopes.head}")
                        scopes.tail foreach { sc =>
                            rScopes append s"+$sc"
                        }
                        rScopes.toString()
                }
                res
        }}"><img src="@routes.Assets.at("images/Instagram_signin.png")" alt="sing in with Instagram"/></a>

        @*<a href="https://api.instagram.com/oauth/authorize/?client_id=41631eeee0f648e689d6bafbf8b2413e&redirect_uri=http://localhost:2904/handleInstagramToken/&response_type=code&scope=likes+comments">без понтов</a>*@
    </p>
}
